{% extends "base.html" %}
{% load static %}
{% block title %}
  Mangalya
{% endblock title %}

{% block content %}
<div class="container mt-4">
    <!-- Page Header -->
    <div class="text-center mb-4 mt-5">
        <h4 class="page-header">Your Appointments</h4>
    </div>
<!-- Appointment History Table -->
        <!-- <div class="table-responsive mb-4 mt-2"> -->
            <table class="table table-responsive align-middle" >
                <thead class="table-brand py-3">
                    <tr>
                        <th class="py-3" style="color: #0097B2;">Appointment Date</th>
                        <th class="py-3" style="color: #0097B2;">Doctor Name</th>
                        <th class="py-3" style="color: #0097B2;">Department</th>
                        <th class="py-3" style="color: #0097B2;">Appointment Time</th>
                        <th class="py-3" style="color: #0097B2;">Status</th>
                        <th class="py-3" style="color: #0097B2;">Action</th>
                    </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for appointment in appointments %}
            <tr>
                <td class="py-3">{{ appointment.date }}</td>
                <td class="py-3">Dr. {{ appointment.doctor.first_name }} {{ appointment.doctor.last_name }}</td>
                <td class="py-3">{{ appointment.doctor.doctor_profile.department.name }}</td>
                <td class="py-3">{{ appointment.time }}</td>
                <td class="py-3">{{ appointment.status }}</td>
                <td class="py-3">
                    {% if appointment.status == 'Scheduled' %}
                    <a href="{% url 'cancel_appointment' appointment.id %}" class="btn btn-sm cancel-button" >Cancel</a>
                    {% endif %}
                    <a href="{% url 'patient_appointment_detail' appointment.id  %}" class="btn btn-sm btn-primary-sm">View Details</a>
                </td>
                
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center">No appointments found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock content %}