
{% extends "base.html" %}
{% load static %}
{% block title %}
  Mangalya
{% endblock title %}




{% block content %}
 <!--------------------------------------- strat hero section ---------------------------------------->
 <div class="d-flex">
    <div class="card flex-fill">
     <img src="{% static 'images/Banner.png' %}" class="card-img" alt="image">
         <div class="card-img-overlay col-lg-5" style="margin: 60px;">
           <div id="blue-type">MEDICAL PROFESSIONALS</div>
   
           <h1 class="lg-24px">Makes Your Health Better Will Makes Us Better</h1>
   
             <div class="col-xxl-10">
               <p class="lg-24px">Our team of highly trained professionals uses the latest healing technologies to restore you to pain-free health quickly and easily.</p>
             </div>
   
           <div class="btns-wrap">
             <a href="#" class="btn btn-secondary me-2">Get Started</a>
           </div>
   
         </div>
     </div>
   
     </div>
   </div>
   
<!-------------------------------- end hero section ------------------------------------------>

<!-- start service section container-1 -->
<div class="row column-gap-0" style="margin: 20px 80px;">

  <div class="col">
    <div class="row column-gap-3">
      <div class="col-lg-6 bg-grey p-4">
        <div class="icon">
          <img src="{% static 'images/icons/pill-icon.svg' %}" alt="" class="icon-image">
        </div>
        <h5 class="card-title">Angioplasty</h5>
        <p class="card-text">Our team of highly professionals uses the latest heal technologies health quickly and easily.</p>
        <div class="d-md-block">
          <button class="Read-more-btn" type="button">Read more <i><img src="{% static 'images/icons/grey-plus-icon.svg' %}" alt=""></i></button>
        </div>
      </div>

      <div class="col bg-grey p-4">
        <div class="icon">
          <img src="{% static 'images/icons/heart-icon.svg' %}" alt="" class="icon-image">
        </div>
        <h5 class="card-title">Cardiograph</h5>
        <p class="card-text">Our team of highly professionals uses the latest heal technologies health quickly and easily.</p>
        <div class="d-md-block">
          <button class="Read-more-btn" type="button">Read more <i><img src="{% static 'images/icons/plus-green-icon.svg' %}" alt=""></i></button>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="row column-gap-0 ps-3">
      <div class="col-lg-6 bg-grey p-4">
        <div class="icon">
          <img src="{% static 'images/icons/teeth-icon.svg' %}" alt="" class="icon-image">
        </div>
        <h5 class="card-title">Dental</h5>
        <p class="card-text">Our team of highly professionals uses the latest heal technologies health quickly and easily.</p>
        <div class="d-md-block">
          <button class="Read-more-btn" type="button">Read more <i><img src="{% static 'images/icons/grey-plus-icon.svg' %}" alt=""></i></button>
        </div>
      </div>

      <div class="col-lg-6" style="height: 100%; padding: 0;">
        <img src="{% static 'images/Dental-image.png' %}" alt="Dental" class="img-fluid" style="object-fit: cover; width: 100%; height: 100%;">
      </div>
    </div>
  </div>

</div>
<!-- end service section container-1 -->

<!-- start service section container-2 -->
<div class="row column-gap-0" style="margin: 20px 80px;">
  <div class="col">
    <div class="row column-gap-0 pe-3">
      <div class="col-lg-6 bg-grey p-4">
        <div class="icon">
          <img src="{% static 'images/icons/eye-icon.svg' %}" alt="" class="icon-image">
        </div>
        <h5 class="card-title">Eye Care</h5>
        <p class="card-text">Our team of highly professionals uses the latest heal technologies health quickly and easily.</p>
        <div class="d-md-block">
          <button class="Read-more-btn" type="button">Read more <i><img src="{% static 'images/icons/grey-plus-icon.svg' %}" alt=""></i></button>
        </div>
      </div>
      <div class="col-lg-6" style="height: 100%; padding: 0;">
        <img src="{% static 'images/eye-care-image.png ' %}" alt="Dental" class="img-fluid" style="object-fit: cover; width: 100%; height: 100%;">
      </div>
    </div>
  </div>

  <div class="col">
    <div class="row column-gap-3">
      <div class="col-lg-6 bg-grey p-4">
        <div class="icon">
          <img src="{% static 'images/icons/brain-icon.svg' %}" alt="" class="icon-image">
        </div>
        <h5 class="card-title">Endocrinology</h5>
        <p class="card-text">Our team of highly professionals uses the latest heal technologies health quickly and easily.</p>
        <div class="d-md-block">
          <button class="Read-more-btn" type="button">Read more <i><img src="{% static 'images/icons/plus-green-icon.svg' %}" alt=""></i></button>
        </div>
      </div>

      <div class="col bg-grey p-4">
        <div class="icon">
          <img src="{% static 'images/icons/syringe-icon.svg' %}" alt="" class="icon-image">
        </div>
        <h5 class="card-title">Orthopaedics</h5>
        <p class="card-text">Our team of highly professionals uses the latest heal technologies health quickly and easily.</p>
        <div class="d-md-block">
          <button class="Read-more-btn" type="button">Read more <i><img src="{% static 'images/icons/grey-plus-icon.svg' %}" alt=""></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end service section container-2 -->

  
   <!------------------------------- start blue schedule section ------------------------------------->
  <div class="d-flex" style="margin: 80px 50px;">
    <div class="card">
     <img src="{% static 'images/Banner-blue-pattern.png' %}" class="card-img" alt="image">
         <div class="card-img-overlay text-center" style="margin: 60px 150px;">
           <h4 class="text-light">Schedule an imperson or <br> virtual appointment today</h4>
           <div class="btns-wrap" style="margin-top: 40px;">
             <a href="#" class="btn btn-primary">Book an Appointment</a>
           </div>
         </div>
     </div>
     </div>
   <!------------------------------- end blue schedule section ------------------------------------->

    <div class="container text-center">
    <div class="box-text ms-auto me-auto" style="font-size: 14px;">FEEDBACK</div>
    <h4 style="margin-bottom: 25px;">Feedbacks about our service from the bottom of heart</h4>
  </div>

 <!-- start client review section -->
 <section id="testimonials">
  <!--testimonials-box-container------>
  <div class="testimonial-box-container">
      <!--BOX-1-------------->
      <div class="testimonial-box">
          <!--top------------------------->
          <div class="box-top">
              <!--profile----->
              <div class="profile">
                  <!--img---->
                  <div class="profile-img">
                      <img src="{% static 'images/robert-davis-photo.png' %}" />
                  </div>
                  <!--name-and-username-->
                  <div class="name-user">
                    <strong>Robert Davis</strong>
                    <span>Dental Patient</span>
                  </div>
                </div>
                <div class="quote-icon">
                  <img src="{% static 'images/icons/quotation-icon.svg' %}" alt="">
                </div>
              </div>
              <hr>
          <!--Comments---------------------------------------->
                <div class="client-comment">
                  <p>Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate.</p>
              </div>
              <!--reviews------>
              <div class="reviews">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i><!--Empty star-->
            </div>
      </div>
   

      <!--BOX-2-------------->
      <div class="testimonial-box">
        <!--top------------------------->
        <div class="box-top">
            <!--profile----->
            <div class="profile">
                <!--img---->
                <div class="profile-img">
                    <img src="{% static 'images/vanseena-adams-review-photo.png' %}" />
                </div>
                <!--name-and-username-->
                <div class="name-user">
                  <strong>Liam mendes</strong>
                  <span>Dental Patient</span>
                </div>
              </div>
              <div class="quote-icon">
                <img src="{% static 'images/icons/quotation-icon.svg' %}" alt="">
              </div>
            </div>
            <hr>
        <!--Comments---------------------------------------->
              <div class="client-comment">
                <p>Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate.</p>
            </div>
            <!--reviews------>
            <div class="reviews">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i><!--Empty star-->
          </div>
    </div>

      <!--BOX-3-------------->
      <div class="testimonial-box">
        <!--top------------------------->
        <div class="box-top">
            <!--profile----->
            <div class="profile">
                <!--img---->
                <div class="profile-img">
                    <img src="{% static 'images/vanseena-adams-review-2-photo.png' %}" />
                </div>
                <!--name-and-username-->
                <div class="name-user">
                  <strong>Vanseena Adams</strong>
                  <span>Dental Patient</span>
                </div>
              </div>
              <div class="quote-icon">
                <img src="{% static 'images/icons/quotation-icon.svg' %}" alt="">
              </div>
            </div>
            <hr>
        <!--Comments---------------------------------------->
              <div class="client-comment">
                <p>Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate.</p>
            </div>
            <!--reviews------>
            <div class="reviews">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i><!--Empty star-->
          </div>
    </div>


  </div>
</section>

<!-- Start Team Section -->
<section class="team-container d-flex flex-column align-items-center py-5">
  <h2 class="text-center mb-5 text-light">OUR PROFESSTIONAL EXPERTS</h2>
  <div class="container">
    <div class="row justify-content-center">
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="our-team">
        <div class="pic">
          <img src="{% static 'images/vaneesa-adams-photo.png' %}">
        </div>
        <h3 class="Name">Dr. Helen Wilmore</h3>
        <span class="dept">Dental Patient</span>
        <ul class="social">
          <li class="social-list"><a href="#" class="fa fa-facebook"></a></li>
          <li class="social-list"><a href="#" class="fa fa-twitter"></a></li>
          <li class="social-list"><a href="#" class="fa fa-linkedin"></a></li>
        </ul>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 mb-4" style="margin-right: 30px;">
      <div class="our-team">
        <div class="pic">
          <img src="{% static 'images/Dr-helen-wilmore-photo.png' %}">
        </div>
        <h3 class="Name">Dr. Alex Wilmore</h3>
        <span class="dept">Dental Patient</span>
        <ul class="social">
          <li class="social-list"><a href="#" class="fa fa-facebook"></a></li>
          <li class="social-list"><a href="#" class="fa fa-twitter"></a></li>
          <li class="social-list"><a href="#" class="fa fa-linkedin"></a></li>
        </ul>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="our-team">
        <div class="pic">
          <img src="{% static 'images/kate-winslot-phot.png' %}">
        </div>
        <h3 class="Name">Dr. Kate Winslot</h3>
        <span class="dept">Dental Patient</span>
        <ul class="social">
          <li class="social-list"><a href="#" class="fa fa-facebook"></a></li>
          <li class="social-list"><a href="#" class="fa fa-twitter"></a></li>
          <li class="social-list"><a href="#" class="fa fa-linkedin"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</section>
<!-- End Team Section -->
  
{% endblock content %}